@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');

:root {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body.dark {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#snowflakes-container {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3 ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.rainbow-text {
    color: #0ef;
    animation: colorful 6s infinite;
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }
}

/* =============== SCROLLBAR ===============*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--text-black-900);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-black-50);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--skin-color);
}

/* =============== GLITCH ANIMATION =============== */
@keyframes paths {
    0% {
        clip-path: polygon(0% 43%,
                83% 43%,
                83% 22%,
                23% 22%,
                23% 24%,
                91% 24%,
                91% 26%,
                18% 26%,
                18% 83%,
                29% 83%,
                29% 17%,
                41% 17%,
                41% 39%,
                18% 39%,
                18% 82%,
                54% 82%,
                54% 88%,
                19% 88%,
                19% 4%,
                39% 4%,
                39% 14%,
                76% 14%,
                76% 52%,
                23% 52%,
                23% 35%,
                19% 35%,
                19% 8%,
                36% 8%,
                36% 31%,
                73% 31%,
                73% 16%,
                1% 16%,
                1% 56%,
                50% 56%,
                50% 8%);
    }

    5% {
        clip-path: polygon(0% 29%,
                44% 29%,
                44% 83%,
                94% 83%,
                94% 56%,
                11% 56%,
                11% 64%,
                94% 64%,
                94% 70%,
                88% 70%,
                88% 32%,
                18% 32%,
                18% 96%,
                10% 96%,
                10% 62%,
                9% 62%,
                9% 84%,
                68% 84%,
                68% 50%,
                52% 50%,
                52% 55%,
                35% 55%,
                35% 87%,
                25% 87%,
                25% 39%,
                15% 39%,
                15% 88%,
                52% 88%);
    }

    30% {
        clip-path: polygon(0% 53%,
                93% 53%,
                93% 62%,
                68% 62%,
                68% 37%,
                97% 37%,
                97% 89%,
                13% 89%,
                13% 45%,
                51% 45%,
                51% 88%,
                17% 88%,
                17% 54%,
                81% 54%,
                81% 75%,
                79% 75%,
                79% 76%,
                38% 76%,
                38% 28%,
                61% 28%,
                61% 12%,
                55% 12%,
                55% 62%,
                68% 62%,
                68% 51%,
                0% 51%,
                0% 92%,
                63% 92%,
                63% 4%,
                65% 4%);
    }

    45% {
        clip-path: polygon(0% 33%,
                2% 33%,
                2% 69%,
                58% 69%,
                58% 94%,
                55% 94%,
                55% 25%,
                33% 25%,
                33% 85%,
                16% 85%,
                16% 19%,
                5% 19%,
                5% 20%,
                79% 20%,
                79% 96%,
                93% 96%,
                93% 50%,
                5% 50%,
                5% 74%,
                55% 74%,
                55% 57%,
                96% 57%,
                96% 59%,
                87% 59%,
                87% 65%,
                82% 65%,
                82% 39%,
                63% 39%,
                63% 92%,
                4% 92%,
                4% 36%,
                24% 36%,
                24% 70%,
                1% 70%,
                1% 43%,
                15% 43%,
                15% 28%,
                23% 28%,
                23% 71%,
                90% 71%,
                90% 86%,
                97% 86%,
                97% 1%,
                60% 1%,
                60% 67%,
                71% 67%,
                71% 91%,
                17% 91%,
                17% 14%,
                39% 14%,
                39% 30%,
                58% 30%,
                58% 11%,
                52% 11%,
                52% 83%,
                68% 83%);
    }

    76% {
        clip-path: polygon(0% 26%,
                15% 26%,
                15% 73%,
                72% 73%,
                72% 70%,
                77% 70%,
                77% 75%,
                8% 75%,
                8% 42%,
                4% 42%,
                4% 61%,
                17% 61%,
                17% 12%,
                26% 12%,
                26% 63%,
                73% 63%,
                73% 43%,
                90% 43%,
                90% 67%,
                50% 67%,
                50% 41%,
                42% 41%,
                42% 46%,
                50% 46%,
                50% 84%,
                96% 84%,
                96% 78%,
                49% 78%,
                49% 25%,
                63% 25%,
                63% 14%);
    }

    90% {
        clip-path: polygon(0% 41%,
                13% 41%,
                13% 6%,
                87% 6%,
                87% 93%,
                10% 93%,
                10% 13%,
                89% 13%,
                89% 6%,
                3% 6%,
                3% 8%,
                16% 8%,
                16% 79%,
                0% 79%,
                0% 99%,
                92% 99%,
                92% 90%,
                5% 90%,
                5% 60%,
                0% 60%,
                0% 48%,
                89% 48%,
                89% 13%,
                80% 13%,
                80% 43%,
                95% 43%,
                95% 19%,
                80% 19%,
                80% 85%,
                38% 85%,
                38% 62%);
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        clip-path: none;
    }
}

@keyframes movement {
    0% {
        top: 0px;
        left: -20px;
    }

    15% {
        top: 10px;
        left: 10px;
    }

    60% {
        top: 5px;
        left: -10px;
    }

    75% {
        top: -5px;
        left: 20px;
    }

    100% {
        top: 10px;
        left: 5px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }

    5% {
        opacity: 0.7;
    }

    30% {
        opacity: 0.4;
    }

    45% {
        opacity: 0.6;
    }

    76% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.8;
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        opacity: 0;
    }
}

@keyframes font {
    0% {
        font-weight: 100;
        color: #e0287d;
        filter: blur(3px);
    }

    20% {
        font-weight: 500;
        color: #fff;
        filter: blur(0);
    }

    50% {
        font-weight: 300;
        color: #1bc7fb;
        filter: blur(2px);
    }

    60% {
        font-weight: 700;
        color: #fff;
        filter: blur(0);
    }

    90% {
        font-weight: 500;
        color: #e0287d;
        filter: blur(6px);
    }
}

/* =============== ASIDE(NAVBAR) ===============*/
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--text-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 8s step-end infinite, movement 10s step-end infinite;
}

/* default: 5s 5s 8s 10s */

.glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 7s step-end infinite, movement 8s step-end infinite;
}

/* default: 5s 5s 7s 8s */

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 1px;
    position: relative;
    animation: paths 5s step-end infinite;
    /* default: 5s */
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    animation: paths 5s step-end infinite;
    /* default: 5s */
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);

}

.aside .nav li a i {
    margin-right: 15px;
}

/* .aside ul li a img {
    width: 24px;
    height: 20px;
    margin-right: 10px;
} */

/* =============== SECTION ===============*/
.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
    /* background: linear-gradient(45deg, #ee7752, #fb5f9a, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 30px; */
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    opacity: 1;
    animation: sideSection 1s ease;
}

@keyframes sideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
    position: relative;
}

.section__title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section__title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section__title h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section__title h2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

/* =============== HOME ===============*/
.marquee {
    margin: 30px 0;
    font-weight: 550;
    position: fixed;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'aria', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    flex-direction: column;
}

.home .container {
    margin-top: 100px;
}

.home .home__info {
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home__info h4 i {
    color: blueviolet;
    text-decoration: line-through;
}

.home .home__info p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home__img {
    flex: 0 0 37%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home__img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -10px;
    /* Default: 20px */
    top: -25px;
    /* Default: -40px */
}

.home .home__img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: -10px;
    /* Default: 20px */
    bottom: 0px;
    /* Default: -40px */
}

.home .home__img img {
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* =============== ABOUT ===============*/
#contact-links {
    justify-content: center;
}

.about .about__content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about__content .about__text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about__content .about__text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about__content .about__text h3 span {
    color: var(--skin-color);
}

.about .about__content .about__text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700)
}

.about .about__content .personal__info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about__content .personal__info .info__item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about__content .personal__info .info__item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about__content .personal__info .info__item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

/* .about .about__content .personal__info .buttons {
    margin-top: 30px;
}

.about .about__content .personal__info .buttons .btn {
    margin-right: 15;
    margin-top: 10px;
} */

.about .about__content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about__content .skills .skill__item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.about .about__content .skills .skill__item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about__content .skills .skill__item .progress {
    height: 7px;
    background: var(--bg-black-50);
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about__content .skills .skill__item .progress .progress-in {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about__content .skills .skill__item .progress .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

/* =============== PROJECTS ===============*/
.projects main {
    width: 95%;
    margin: 0 1rem;
    --gap: 1.5em;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    height: fit-content;
    gap: var(--gap);
}

.project {
    transition: transform .2s linear, background-color .2s linear;
    border-radius: 16px;
    background: var(--text-black-900);
    overflow: hidden;
}

.project:hover {
    filter: drop-shadow(1px 1px 20px);
}

.project a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 100%;
    height: 100%;
    color: var(--bg-black-900);
}

.project b {
    color: var(--skin-color);
    font-size: 1.1em;
    white-space: wrap;
}

.project p {
    color: var(--bg-black-900);
}

.project .meta {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    color: var(--bg-black-900);
    font-size: 14px;
}

.project .meta svg {
    fill: var(--bg-black-900);
}

.project .meta .star,
.project .meta .fork {
    color: var(--bg-black-900);
}

.project .meta div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.project .lang {
    flex: 1;
    justify-content: flex-end;
}

.project .lang .color {
    margin-right: .1em;
    border-radius: 50%;
    width: .6em;
    height: .6em;
}

/* =============== GADGETS ===============*/
.gadgets main {
    width: 95%;
    margin: 0 1rem;
    --gap: 1.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    height: 100%;
    gap: var(--gap);
}

.widget {
    transition: transform .2s linear, background-color .2s linear;
    border-radius: 24px;
    background: var(--text-black-900);
}

.widget:hover {
    filter: drop-shadow(1px 1px 20px);
}

.widget .content {
    display: flex;
    flex-direction: column;
}

.widget .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    color: #fff;
}

.widget .icon img {
    width: 100%;
    height: 100%;
}

.widget .meta {
    margin-top: 10px;
}

/* ===== DISCORD ===== */
#discord {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px;
    /* Default: 24px */
    width: 100%;
    height: 100%;
}

#discord .content {
    flex-direction: row;
}

#discord .meta {
    margin-top: 0;
    margin-left: 14px;
    color: var(--bg-black-900);
}

#dot {
    display: inline-block;
    margin-right: .1em;
    border-radius: 50%;
    width: .6em;
    height: .6em;
}

#discord .rpc {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    white-space: wrap;
}

#discord .rpc .meta {
    color: var(--bg-black-900);
}

#large_image {
    border-radius: 10px;
    background: var(--image) center/cover no-repeat;
    width: 62px;
    height: 62px;
}

#small_image {
    position: relative;
    top: -22px;
    left: 45px;
    border-radius: 50%;
    background: var(--image) center/cover no-repeat;
    width: 30px;
    height: 30px;
}

/* ===== CLOCK ===== */
#clock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#clock .face {
    position: relative;
    aspect-ratio: 1/1;
    height: 100%;
}

#clock .face div,
#clock .face svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#clock .face svg {
    fill: #adf;
}

#hour-hand::before,
#minute-hand::before,
#second-hand::before {
    position: absolute;
    bottom: 46%;
    left: 46%;
    border-radius: 50px;
    background-color: var(--color);
    width: 8%;
    height: var(--h);
    content: '';
}

#hour-hand {
    --h: 30%;
    --color: #36b;
}

#minute-hand {
    --h: 40%;
    --color: #48d;
}

#second-hand {
    --h: 8%;
    --color: #48d;
    transition: transform .2s;
}

#second-hand::before {
    top: 7%;
}

#clock .date {
    color: var(--bg-black-900);
    font-size: 1.2em;
}

#clock .time {
    min-width: 7ch;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--bg-black-900);
}

/* #hour~span,
#minute~span {
    color: var(--bg-black-900);
} */

#timezone-diff {
    color: var(--bg-black-900);
}

#utc-offset {
    color: var(--bg-black-900);
}

/* ===== AUDIO ===== */

/* =============== CONTACT ===============*/
/* .contact {
    overflow: hidden;
} */
/* This will cause bug if you have over 5 items in a row !!! Come to line 662 to change the percent of each item */

.contact__title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.contact__sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}

.contact .contact__info-item {
    flex: 0 0 25%;
    max-width: 20%;
    /* Default: 25% */
    text-align: center;
    margin-bottom: 44px;
}

.contact .contact__info-item .icon {
    display: inline-block;
}

.contact .contact__info-item .icon .fa-solid,
.contact .contact__info-item .icon .fa-brands {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact__info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact__info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

/* =============== INFO ===============*/
.info .page__content {
    flex: 0 0 100%;
    max-width: 100%;
}

.info .page__content .page__text {
    flex: 0 0 100%;
    max-width: 100%;
}

.info .page__content .page__text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.info .page__content .page__text h3 span {
    color: var(--skin-color);
}

.info .page__content .page__text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700)
}

.info .page__content .supporter__info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.info .page__content .supporter__info a {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.info .page__content .supporter__info a img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
}

.info .page__content .supporter__info a h1 {
    padding-left: 20px;
    font-size: 35px;
}

.info .page__content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.info .page__content .skills .skill__item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.info .page__content .skills .skill__item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.info .page__content .skills .skill__item .progress {
    height: 7px;
    background: var(--bg-black-50);
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.info .page__content .skills .skill__item .progress .progress-in {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.info .page__content .skills .skill__item .progress .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

/* =============== DISPLAY ===============*/
@media (max-width:1199px) {
    .section .container {
        padding-top: 70px;
    }

    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    .about .about__content .personal__info .info__item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px) {
    .contact .contact__info-item {
        flex: 0 0 20%;
        max-width: 50%;
    }

    .home .home__info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home__img {
        display: none;
    }

    .projects main,
    .gadgets main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .widget:nth-child(2) {
        display: none;
    }
}

@media (max-width:767px) {

    .contact .contact__info-item,
    .about .about__content .skills,
    .about .about__content .personal__info,
    .info .page__content .skills,
    .info .page__content .supporter__info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}